<article class="card-text mt-2">
  <div class="row">
    <span class="col-1">
      <%= picture(@_current_user) %>
    </span>
    <span class="col-11">
      <%= form_with model: [post, post.comments.build] do |form| %>
        <%= form.hidden_field :user_id, value: @_current_user.id if logged_in? %>
        <%= form.text_field :content, placeholder: "Add a comment..",
                            class: "bg-light rounded-pill form-control ps-3 mb-3",
                            style: "flex: 0 0 auto;  width: 95%; margin-left: -3px;"
                            %>
      <% end %>
    </span>
  </div>
  <% post.comments.recent.each do |comment| %>
    <% unless comment.content.nil? %>
      <p class="row justify-content-between">
        <span class="col-1">
          <%= picture(comment.user) %>
        </span>
        <span class="col-10 bg-light rounded-pill px-3" style="margin-right: -15px;">
          <span class="d-block text-secondary"><%= truncate comment.user.name %></span>
          <%= comment.content %>
        </span>
        <span class="col-1 text-end pe-3 align-self-center">
          <% if logged_in? && @_current_user.id == comment.user_id %>
            <%= link_to '', post_comment_path(post, comment), data: { turbo_method: :delete }, class: "hover-text-danger text-danger bi bi-trash3" %>
          <% end %>
        </span>
      </p>
    <% end %>
  <% end %>
</article>