<%= form_with model: post do |form| %>
  <%= form.hidden_field :user_id, value: 1 %>
  <%= form.text_area :content, class: "form-control" %>
  <% post.errors.full_messages_for(:content).each do |message| %>
    <span class="text-danger"><%= message %></span>
  <% end %>
  <%= form.submit class: "btn btn-primary w-100 mb-2" %>
<% end %>