<div class="card mb-2">
  <div class="card-link row justify-content-between">
    <div class="col-10 text-secondary">
      <%= picture(post.user) %>
      <span class="text-dark"><%= truncate post.user.name %></span>
      <time><%= time_ago_in_words_only_today post.created_at%></time>
    </div>
    <div class="col-2 text-end px-3"><%= render 'posts/link', post: post %></div>
  </div>
  <h1 class="card-text mb-2 mx-1">
    <%= link_to post.content, post, class: "text-decoration-none text-dark" %>
  </h1>
  <div class="card-text">
    <% if post.comments.size == 0 %>
      <%= link_to '', post, class: "hover-info px-2 ms-1 bi bi-chat fs-5 text-secondary" %>
      <span class="fs-6 text-secondary"> 0</span>
    <% else %>
      <%= link_to '', post, class: "hover-info px-2 ms-1 bi bi-chat-text fs-5 text-secondary" %>
      <span class="fs-6 text-secondary"> <%= post.comments.size %></span>
    <% end %>
  </div>
  <% if current_page?(post_path(post)) %>
    <div class="card-text">
      <%= render 'comments/form', post: post %>
    </div>
  <% end %>
</div>
