<div class="card mb-2">
  <div class="card-link row justify-content-between">
    <span class="col-8 text-secondary">
      <%= picture(post.user) %>
      <%= post.user.name unless post.user.nil? %>
    </span>
    <span class="col-2 text-end me-1"><%= render 'posts/link', post: post %></span>
  </div>
  <h1 class="card-text mb-2 mx-1">
    <%= link_to post.content, post, class: "text-decoration-none text-dark" %>
  </h1>
  <div class="card-text">
    <% if post.comments.size == 0 %>
      <%= link_to '', post, class: "hover-info px-2 ms-1 bi bi-chat fs-5 text-secondary" %>
      <span class="fs-6 text-secondary"> 0</span>
    <% else %>
      <%= link_to '', post, class: "hover-info px-2 ms-1 bi bi-chat-text fs-5 text-secondary" %>
      <span class="fs-6 text-secondary"> <%= post.comments.size %></span>
    <% end %>
  </div>
</div>
