<!DOCTYPE html>
<html>
  <head>
    <title>PostooCommentoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <style>
    .hover-text-info:hover {
        color: #0b5ed7 !important;
    }
    .hover-text-danger:hover {
        color: #e30012 !important;
    }

    .hover-info:hover {
        border-radius: 50%;
        padding: 4px 8px;
        background-color: lightblue;
        color: #0b5ed7 !important;
    }
    .hover-danger:hover {
        border-radius: 50%;
        padding: 4px 8px;
        background-color: lightpink;
        color: #bb2d3b !important;
    }
  </style>

  <body class="container bg-light col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 ">
    <% if flash[:notice] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="bi bi-exclamation-triangle-fill"></span>
        <%= flash[:notice] %>
        <button class="btn btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>
    <div class="row justify-content-between">
      <%= link_to '', root_path, class: "col-2 bi bi-arrow-left-circle fs-3" %>
      <% if logged_in? %>
        <span class="col-10 text-end">
          <%= @_current_user.name %>
          <%= picture(@_current_user) %>
          <%= link_to '', logout_path, data: { turbo_method: :delete } , class: "fs-5 bi bi-box-arrow-right text-secondary" %>
        </span>
      <% else %>
        <div class="col-10 text-end align-self-center">
          <%= render 'logins/form' %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
