<!DOCTYPE html>
<html>
  <head>
    <title>PostooCommentoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'Postoo-Commentoo.png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="container bg-light col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 ">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>

    <%= yield %>
  </body>
</html>
